:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;/*Codigo para que el padding no afecte al tamaño*/
}
*, *:before, *:after {/*Codigo para que el padding no afecte al tamaño*/
    box-sizing: inherit;
}
body{
    font-size: 16px;/*1rem = 10px*/
    font-family: "Krub", sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
.nav-bg{
    background-color: var(--secundario);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.navegacion-principal{
    display: flex;
    justify-content: space-between;
}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    pointer-events: var(--primario);
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (max-width:750px) {
    .navegacion-principal {
        flex-direction: column;
    }

    .navegacion-principal a{
        display: block;
        text-align: center;
    }
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}